.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 32px;
  box-sizing: border-box;

  background: linear-gradient(
    180deg,
    /*#0101ee 0%,*/
    #d40078 0%,
    #06000a 100%
  );

  box-shadow: 0 0 0px rgba(13, 2, 78, 0.35);
  z-index: 1000;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar-logo {
  height: 40px;
  width: auto;
}

.navbar-logo-large {
  height: 60px;
  border-radius: 12px;
  width: auto;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.github-button {
  background: #ffffff;
  color: #000000;
  border: none;
  text-decoration: none;

  padding: 8px 16px;
  border-radius: 8px;

  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  font-size: 20px;
  font-weight: 630;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 8px;

  transition: all 0.2s ease;
}

.github-icon {
  width: 22px;
  height: 22px;
}

.github-button:hover {
  transform: scale(1.08);
  color: #000000;
  box-shadow: 0 0 30px rgb(212, 255, 0), 0 0 30px rgb(212, 255, 0), 0 0 30px rgb(212, 255, 0);
}
